@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-accent-100: #e6f2ff;
  --color-accent-200: #b3d9ff;
  --color-accent-300: #80c2ff;
  --color-accent-400: #4daaff;
  --color-accent-500: #007bff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility main-container {
  @apply flex min-h-screen w-full font-sans bg-slate-100;
}
